.container {
    height: auto;
    width: 240px;
    border: 1px solid black;
    margin-left: 100px;
    padding: 20px;
}

/* div {
    border: 1px solid green;
} */

.item-image {
    height: 120px;
    float: left;
}

.item-image img {
    height: 100px;
}

.item-detail {
    margin-bottom: 10px;
}

.item-details p {
    font-size: 0.8em;
}

.promo {
    clear: both;
}

.left-text {
    float: left;
    width: 140px;
}

.left-text:before {
    clear: both;
}

.right-text {
    float: right;
    font-weight: 600;
}
.right-text:after {
    clear: both;
}

.item {
    clear: both;
}

.item-detail {
    clear: both;
}

/* .pickup-saving {
    position: relative;
} */

.saving {
    clear: both;
}

.saving .right-text {
    color: red;
}

.dialog {
    width: 210px;
    height: 100px;
    border: 1px solid #ccc;
    position: relative;
    margin-top: 50px;
    margin-left: -70px;
    background-color: #fff;
    padding: 10px;
}

.dialog-box .triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 100px;
}
.dialog-box .triangle:after {
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    top: -6px;
    left: -8px;
}

.est-fees {
    clear: both;
}

.est-total .right-text {
    font-size: 1.4em;
}

.promo-code p {
    font-size: 0.8em;
    color: #656d79;
}